@import url('https://fonts.googleapis.com/css?family=Roboto:300|VT323');

* {
    margin: 0;
    /* box-sizing: border-box; */
    
}

/* ////SCROLL BAR */
aside.ScrollUpButton__Container.ScrollUpButton__Toggled {
    border: 3px solid rgb(62, 157, 245)!important;
}

body {
    background-color: ghostwhite;
}

/* Font-Family: 'Ruda', Sans-Serif;
Font-Size: 48px;
Font-Family: 'Roboto Slab', Serif;
Font-Size: 16px; */

/* //////////////////////////NAV//////////////////////// */


.nav {
    display: flex;
    font-family: 'Ruda', Sans-Serif;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 15px 10px 0px;
    font-size: 25px;
    color: #444;
    background-color: ghostwhite;

}

a:link {
    text-decoration: none;
    color: #444;
}


.contact-nav {
    font-size: 50px;
    font-family: 'VT323', monospace;
    color: rgb(62, 157, 245);
}

.about-nav, .photos-nav, .projects-nav {
    color: rgb(109, 109, 109);
}

.about-nav:hover, .photos-nav:hover, .projects-nav:hover {
    color: rgb(46, 46, 46); 
}

.fab {
    font-size: 50px;
    color: rgb(109, 109, 109);
}

.fab:hover {
    color: rgb(46, 46, 46); 
}

.nav a:active {
    color: rgb(62, 157, 245);
   
}

@media (min-width: 900px){
    .rotate {
        display: none;

    }
}

/*//////////////////////// HAMBURGER NAV///////////////////// */

@media (max-width: 900px){

.nav {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    align-items: center;
    position: absolute;
    left: 0;
    transition: left 300ms linear ;
    z-index: 3; /* nav is the top layer */
}

.contact-nav, .linkedin-nav, .twitter-nav, .github-nav {
    display: none;
   
}

.nav-open {
    left: 0;
}

.nav-closed {
    left: -400px;
}

.nav a {
    color: #444;
    width: 100%;
    Font-Family: 'Roboto Slab', Serif;
    text-align: center;
    padding: 5px 0;
    transition: background-color 100ms linear;
    font-size: 50px;
}


.nav a:active {
    color:  rgb(24, 57, 146);
   
}

.nav a:hover {
    background-color: rgba(226, 224, 224, 0.6);
    width: 100%;
    padding: 5px;
    
}


.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    transition: left 300ms linear;
    z-index: 2; 
    /* Overlay is the layer directly behind nav */
}


.overlay-open {
    left: 0;
}

.overlay-closed {
    left: -100vw;
}

.rotate {
    position: absolute;
    right: 0;
    padding: 10px;
    margin: 10px;
    border: 1px solid ghostwhite;
    background-color: ghostwhite;
    color: rgb(62, 157, 245);
    font-size: 40px;
    border-radius: 14px;
    z-index: 9; /* the button is directly behind the overlay */
    transform: rotate(90deg);
    transition: transform 100ms linear, opacity 300ms linear;
    
}

.rotate-open {
    transform: rotate(90deg);
}

.rotate-closed {
    transform: rotate(0deg);
   
}



}
/* //////////////HAMBURGER NAV///////////////////////////// */


/* ///////////Home//////////////////////////////// */


.content {
    grid-area: content;
}

.header {
    grid-area: header;
    height: 30vh;
    width: 100%;
    color: black;
    background-color: ghostwhite;
    

    
}

.footer {
    grid-area: footer;
}


.wrapper {
    display: grid;
    /* grid-gap: 10px; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "header header header"
    "sidebar content content"
    "footer  footer  footer";
    background-color: ghostwhite;
    color: #444;

}


.box {
  /* background-color: #444;
  color: #fff; */
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

.header,
.footer {
  /* background-color: #999; */
}

.home-container {
    background-color: ghostwhite;
    height: 140vh;
    
}


.box content {
    display: flex;
    flex-direction: column;
    
}
.sum-title {
    font-family: 'Ruda', Sans-Serif;
    font-size: 48px;
    margin-top: 200px;
}

.summary {
    font-family: 'Roboto Slab', Serif;
    font-size: 20px; 
    margin-left: 20px;
    margin-right: 40%;
}



/* Font-Family: 'Ruda', Sans-Serif;
Font-Size: 48px;
Font-Family: 'Roboto Slab', Serif;
Font-Size: 16px; */




.about-container {
    background-color: lightblue;
    margin: 20px;
}

.contact-container {
    background-color: lightcoral;
    margin: 20px;
}


/* //////////////////////TYPEWRITER EFFECT///////////////////////////////////////////// */

/* GLOBAL STYLES */
/* body {
    background: #333;
    padding-top: 5em;
    display: flex;
    justify-content: center;
  } */
  
  /* DEMO-SPECIFIC STYLES */


  .typebox {
      margin: 150px;
      background-color: ghostwhite;
  }
  .typewriter h1 {
    font-size: 80px;
    color: BLACK;
    font-family: 'VT323', monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(62, 157, 245); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 8.5s steps(30, end),
      blink-caret .5s step-end infinite;
      /* get rid of infinite?  */
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:  rgb(62, 157, 245) }
  }

.icons  {
    font-size: 50px;
    /* width: 100vw; */
    /* margin-top: 50px; */
    background-color: ghostwhite;
    align-items: center;
    text-align: center;
    Font-Family: 'Roboto Slab', Serif;
}

.fas, .far {
    margin: 80px;
    
}

.fas:hover, .far:hover {
    color:  rgb(62, 157, 245);
    
}

.icon-words {
    margin-top: 5px;
    font-size: 15px;
    Font-Family: 'Roboto Slab', Serif;
}

/* //////////////////////TYPEWRITER EFFECT///////////////////////////////////////////// */

/* ///////////SIDEBAR ////////////////////////// */

.sidebar {
    grid-area: sidebar;
    background-color: ghostwhite;
}


.profile-picture {
    background-image: url('./assets/profile-pic.png');
    background-position: center;
    background-size: cover;
    margin-left: 100px;
    width: 500px;
    height: 500px;
    border-radius: 250px;
}

/* ///////////SIDEBAR ////////////////////////// */


/* /////////////////////////////content/////////////////////////////////////////////// */

/* ///////////////////////Projects////////////////////////// */

.projects-container {
    
    margin: 50px;
    background-color: ghostwhite;
}

    .projects-container >h1 {
        font-family: 'Ruda', Sans-Serif;
        font-size: 80px;
    }

    .transbox > h4 {
        margin-top: 50px; 
        font-size: 40px;
        font-family: 'Ruda', Sans-Serif;
    }
    
    
    div.transbox {
        background-color: #1716166f;
        width: 80%;
        height: 200px;
        color: white;
        display: grid;
        text-align: center;
        margin: 50px;
        /* background-position: center; */
    }
    
    
    .grid-container{
    
        width: auto;
        /* display: flex;
        flex-direction: row; */
        margin: 40px;
        /* flex-wrap: wrap;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px; */
        margin: 90px 5px 15px 15px;
    }
    
    @media (min-width: 800) {
        .grid-container {
            display: flex;
            flex-direction: row; 
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
            background-color: red;
            width: 330px;;
        }
    
        div.transbox {
            background-color: #1716166f;
            width: 80%;
            height: 200px;
            color: white;
            /* display: grid; */
            text-align: center;
            padding: 30px;
            margin: 50px;
            /* background-position: center; */
        }
    
        .grid-container> .box {
            background-color: red;
            border-radius: 5px;
            /* padding: 28px; */
            color:black;
            margin-top: 40px;
            background-position: center;
            background-size: cover;
            height: 330px;
        }
    
    
    }
    
    
    .grid-container> .box {
        /* background-color: red; */
        border-radius: 5px;
        /* padding: 28px; */
        color:black;
        margin-top: 40px;
        background-position: center;
        background-size: cover;
        height: 330px;
    }
    
    .boxA:hover {
        transform: scale(1.2);
         
    }
    
    .grid-container > .boxA {
        background-image: url('https://images.unsplash.com/photo-1528879342222-323df0d65c9f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60');
        background-position: center;
        background-size: cover;
        transition: transform .2s; 
        height: 330px;
    }
    
    .grid-container > .boxB {
        background-image: url('https://images.unsplash.com/photo-1452457750107-cd084dce177d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60');
        background-position: center;
        background-size: cover;
        height: 330px;
    }
    
    .boxB:hover {
        transform: scale(1.2); 
    }
    
    .grid-container > .boxC {
        background-image: url('https://images.unsplash.com/photo-1534750554350-5d579939db38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60');
        background-position: center;
        background-size: cover;
        height: 330px;
    }
    
    .boxC:hover {
        transform: scale(1.2); 
    }
    
    .grid-container > .boxD {
        background-image: url('https://images.unsplash.com/photo-1464207687429-7505649dae38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60');
        background-position: center;
        background-size: cover;
        height: 330px;
    }
    
    .boxD:hover {
        transform: scale(1.2); 
    }
    
    .grid-container > .boxE {
        background-image: url('https://images.unsplash.com/photo-1423666639041-f56000c27a9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60');
        background-position: center;
        background-size: cover;
        height: 330px;
    }
    
    .boxE:hover {
        transform: scale(1.2); 
    }
    
    .grid-container > .boxF {
        background-image: url('https://images.unsplash.com/photo-1542736667-069246bdbc6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60');
        background-position: center;
        background-size: cover;
        height: 330px;
    }
    
    .boxF:hover {
        transform: scale(1.2); 
    }
    
    @media (min-width: 1200px){

        .grid-container {
            display: grid;
            flex-direction: row; 
            flex-wrap: wrap;
            align-items: center;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
            width: auto;
            margin: 40px;
    
            /* margin-left: 170px; */
    
    
        }


    }













/* ///////////////////////PHOTOS///////////////////////////////// */
.photos-container {
    background-color: lightpink;
}


/* ///////////////////////PHOTOS///////////////////////////////// */